.hero {
  background-color: #1f72c1;
}

.hero {
  .hero-col-1 {
    color: white;
    h2 {
      font-size: 2.5rem;
      margin: 2rem 0;
      line-height: 1.5;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 300;
    }
  }
}
.subscribe_letter {
  .email {
    outline: none;
    padding: 1.2rem 6rem;
    border-radius: 0.2rem;
    border: none;
  }
  ::placeholder {
    font-size: 1.1rem;
    padding-left: 0;
  }
}

.btn {
  background-color: #61bd4f;
  border-color: #61bd4f;
  border-radius: 0.2rem;
  color: white;
  padding: 1.1rem 1.8rem;
  text-decoration: none;
  margin: 4px 2px;
  margin-left: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  outline: 0;
}
